.show-XS,
.show-SM,
.show-MD,
.show-LG,
.show-XL,
.show-HD {
  display: none;
}

@mixin show-responsive($size) {
  .show-#{$size} {
    display: inherit;
  }
}

@media screen and (max-width: $ViewSM - 1px) {
  @include show-responsive(XS);
}

@media screen and (min-width: $ViewSM) and (max-width: $ViewMD - 1px) {
  @include show-responsive(SM);
}

@media screen and (min-width: $ViewMD) and (max-width: $ViewLG - 1px) {
  @include show-responsive(MD);
}

@media screen and (min-width: $ViewLG) and (max-width: $ViewXL - 1px) {
  @include show-responsive(LG);
}

@media screen and (min-width: $ViewXL) and (max-width: $ViewHD - 1px) {
  @include show-responsive(XL);
}

@media screen and (min-width: $ViewHD) {
  @include show-responsive(HD);
}

.hide-XS,
.hide-SM,
.hide-MD,
.hide-LG,
.hide-XL,
.hide-HD {
  display: inherit;
}

@mixin hide-responsive($size) {
  .hide-#{$size} {
    display: none;
  }
}

@media screen and (max-width: $ViewSM - 1px) {
  @include hide-responsive(XS);
}

@media screen and (min-width: $ViewSM) and (max-width: $ViewMD - 1px) {
  @include hide-responsive(SM);
}

@media screen and (min-width: $ViewMD) and (max-width: $ViewLG - 1px) {
  @include hide-responsive(MD);
}

@media screen and (min-width: $ViewLG) and (max-width: $ViewXL - 1px) {
  @include hide-responsive(LG);
}

@media screen and (min-width: $ViewXL) and (max-width: $ViewHD - 1px) {
  @include hide-responsive(XL);
}

@media screen and (min-width: $ViewHD) {
  @include hide-responsive(HD);
}
