$VIEW_SM: 451px;
$VIEW_MD: 769px;
$VIEW_LG: 1021px;
$VIEW_XL: 1261px;
$VIEW_HD: 1601px;

@mixin VIEW_SM { @media screen and (min-width: $VIEW_SM) { @content } }
@mixin VIEW_MD { @media screen and (min-width: $VIEW_MD) { @content } }
@mixin VIEW_LG { @media screen and (min-width: $VIEW_LG) { @content } }
@mixin VIEW_XL { @media screen and (min-width: $VIEW_XL) { @content } }
@mixin VIEW_HD { @media screen and (min-width: $VIEW_HD) { @content } }

$black: #000;
$white: #fff;
$lightgrey: #dcdcdc;
$grey: #b5b5b5;
$darkgrey: #3e3e3e;

$container-width: 80%;
$container-offset: (100% - $container-width) / 2;
$container-max-width: $VIEW_XL;
$container-break-point: #{$container-max-width / $container-width * 100%};
$container-broken-offset: calc(50% - #{$container-max-width / 2});

$spacing: 25px;

@mixin pseudo {
  position: absolute;
  display: block;
  content: ' ';
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: $container-width;
  max-width: $container-max-width;
}

@mixin forced_center($position: absolute) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
}
